body{
    background-color: #0f172a;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container {
    background: white;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    text-align: center;
}
#weight-guide{
    color: beige;
}
#results {
    color: beige;
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
}

button {
    background-color: #0f172a;   
    color: #f8fafc;              
    border: none;
    padding: 12px 26px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    /* transition: 
        background-color 0.3s ease,
        transform 0.2s ease,
        box-shadow 0.2s ease; */
}

button:hover {
    background-color: #020617;   
}



